.login-container
  %h1.login-title
    MEMORAND
    %span<>
      O
    M 
  %h2.login-subtitle Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.login-form
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-field"
    .field.login-form
      = f.label :password
      = f.password_field :password, autocomplete: "current-password", class: "login-field"
    - if devise_mapping.rememberable?
      .field.links
        = f.label :remember_me
        = f.check_box :remember_me
    = render "devise/shared/links"
        
    .actions
      = f.submit "Log in", class: "login-button"



  
